
#wrapperFirst{
    display:grid;
    background-color: rgb(77, 74, 74);
    margin:0;
    height: 100vh;
    width: 100vw;
    gap: 30px;
    grid-template:10% repeat(2,26%) repeat(2, 1fr) / 1fr 60% 1fr;
    grid-template-areas: 
    "header header header"
    "aside startmain aside2"
    "aside startmain aside2"
    "aside startmain aside2"
    "footer footer footer";
}

#wrapperSecond{
    display: grid;
    background-color: rgb(77, 74, 74);
    margin:0;
    height: 100vh;
    width: 100vw;
    gap: 30px;
    grid-template:10% repeat(2,26%) repeat(2, 1fr) / 1fr 60% 1fr;
    grid-template-areas: 
    "header header header"
    "secondmain secondmain secondmain"
    "secondmain secondmain secondmain"
    "secondmain secondmain secondmain"
    "footer footer footer";

}

#wrapperThird{
    display: grid;
    background-color: rgb(77, 74, 74);
    margin:0;
    height: 100vh;
    width: 100vw;
    gap: 30px;
    grid-template:10% repeat(2,26%) repeat(2, 1fr) / 1fr 60% 1fr;
    grid-template-areas: 
    "header header header"
    "thirdmain thirdmain thirdmain"
    "thirdmain thirdmain thirdmain"
    "thirdmain thirdmain thirdmain"
    "footer footer footer";
}

#wrapperFourth{
    display: grid;
    background-color: rgb(77, 74, 74);
    margin:0;
    height: 100vh;
    width: 100vw;
    gap: 30px;
    grid-template:10% repeat(2,26%) repeat(2, 1fr) / 1fr 60% 1fr;
    grid-template-areas: 
    "header header header"
    "FP1 FP2 FP3"
    "FP1 FP2 FP3"
    "FP1 FP2 FP3"
    "footer footer footer";
}




.header{
    grid-area: header;
    display: flex;
    background-color: whitesmoke;
    
    
}
.aside{
    grid-area: aside;
    background-color: whitesmoke;
}
.aside2Main{
    background: whitesmoke;
    grid-area: aside2;
    
}


.startmain{
    display: flex;
    grid-area: startmain;
    background-color: whitesmoke;
    flex-direction: column;
    flex-wrap: wrap;
}

.secondMain{
    display: flex;
    grid-area: secondmain;
    background-color: whitesmoke;
    margin: 20px;
}
.thirdMain{
    display: flex;
    grid-area: thirdmain;
    background-color: whitesmoke;
    margin: 20px;
}
.fourthmain{
    display: flex;
    grid-area: fourthmain;
    background-color: whitesmoke;
    margin: 20px;
}

#FourthPillar1{
    display: flex;
    grid-area:FP1;
    background-color: whitesmoke;
    margin: 20px;
}
#FourthPillar2{
    display: flex;
    grid-area:FP2;
    background-color: whitesmoke;
    margin: 20px;
}
#FourthPillar3{
    display: flex;
    grid-area:FP3;
    background-color: whitesmoke;
    margin: 20px;
}

.footer{
    grid-area:footer;
    background-color: whitesmoke;
}

#div1Main{
    background-color: aquamarine;
    width: 50%;
    height: 100%;
}
#div2Main{
    background-color: aqua;
    width: 50%;
    height: 100%;
}   
#div3aside{

}
.navdiv{
    background-color: cornflowerblue;
    
}
.navigation{
    height: 30%;
    display: flex;
    width: 100%;
    background-color: cadetblue;
    align-self: flex-end;
    justify-content: space-evenly;
    align-items: center;
}
.carads{
    width: 30%;
    height: 87.5%;
    background-color: darkgrey;
    margin: 40px;
}
.border{
    border: 2px solid rgb(77, 74, 74);
    border-color: rgb(77, 74, 74);
}
.rounded{
    border-radius: 15px;
}
.nav{
    width: 5%;
    height: 20px;
}
#div4aside{
    align-self: center;
}






@media screen and (max-width: 650px) {
    #wrapperFirst{
        display:grid;
        background-color: pink;
        margin:0;
        height: 100vh;
        width: 100vw;
        gap: 15px;
        grid-template: 20% repeat(3, 25) 1fr / 50% 50%;
        grid-template-areas: 
        "header header"
        "startmain startmain"
        "startmain startmain"
        "startmain startmain"
        "footer footer" ;
        
    }
    .aside{
    height: 100vh;
    width: 80vw;
    background: hotpink;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

}